{% extends "housefinance/base.html" %}
{% load staticfiles %}
{% block title %}记账凭证导入{% endblock %}
{% block content %}
{#    <form role="form" action="{% url 'ffm:batch_import_acc_doc_import' %}" method="post">#}
    <form role="form" method="post" enctype="multipart/form-data">
    {% csrf_token %}
    <ul>
        {% for acc_doc in acc_docs %}
            <li>
                {{ acc_doc.header }}
                <input type="hidden" name="acc_doc_{{ forloop.counter }}_creation_date" value="{{ acc_doc.header.creation_date|date:"Y-m-d H:i:s" }}"/>
                <ul>
                    {% for acc_doc_item in acc_doc.items %}
                        <li>{{ acc_doc_item.dc_indicator }} / {{ acc_doc_item.account }} / {{ acc_doc_item.amount }}</li>
                    {% endfor %}
                </ul>
            </li>
        {% endfor %}
    </ul>
    <input class="btn btn-primary" type="submit" value="Import"/>
    </form>
{% endblock %}